{% extends 'base.html' %}
{% block body %}

<section class="text-gray-600 body-font" style="padding-top:100px;">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <img class="lg:w-1/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="{{url_for('static',filename='deep_.jpg')}}" style="border-radius:50px;">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Deep Gojariya</h1>
      <p class="mb-8 leading-relaxed" style="color:silver;font-size:20px;font-weight:bold">Hi,&nbsp;I am Deep and I develop Machine Learning and Deep learning based projects because I love to train ML models so that they can also mimic human behaviour and make our tasks easier.&nbsp;You can check my Github for different projects as well as do check my blog where I write about different things in Machine Learning.</p>
      <div class="flex justify-center">
        <button class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg" style="background-color:black; color:cyan;"><a href="https://github.com/DeepDGojariya" target="_blank">Github</a></button>
        <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg" style="background-color:black;color:cyan"><a href="https://deepgojariya.medium.com/" target="_blank">Blog</a></button>
      </div>
    </div>
  </div>
</section>







{% endblock body %}