{%extends "base.html"%}
{%block body%}

<section class="text-gray-600 body-font main mb-0 pb-0">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded " alt="hero" src="{{url_for("static",filename='index.jpg' )}}">
        <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Listen to songs based on your
                mood.</h1>
            <p class="mb-8 leading-relaxed text-black" style="font-size:18px;">Moodify is an application that creates personalized playlists
                <br>of most popular songs that you can listen based on your current mood,<br>so that you can have a
                great listening experience and you will also refresh your mood even when you are Angry. </p>
            <div class="flex justify-center">
                <button
                    class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg "
                    style="background-color:black;color:cyan;"><a href="{{url_for('capture')}}">Try it out!</a></button>

            </div>
        </div>
    </div>
</section>

{%endblock body%}